Repository Mai0313/whisper2subtitle, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, unit-test

Remove unnecessary code and files
  src/repo_template/__init__.py
  src/repo_template/hello.py
  src/repo_template/types/__init__.py
  src/repo_template/types/response.py
  tests/__init__.py
  tests/test_hello.py
Labels: unit-test

Remove unnecessary code and files
  main.py
Labels: none

Update repository links and names
  README.md
  docs/index.md
  docs/installation/pip.md
  docs/installation/rye.md
  mkdocs.yml
  pyproject.toml
Labels: none

Update pyproject.toml with new dependencies and Python version requirement
  pyproject.toml
  requirements-dev.lock
  requirements.lock
Labels: dependencies

Update dependencies and Python version requirement in pyproject.toml
  requirements-dev.lock
Labels: dependencies

Update pyproject.toml with new dependencies and Python version requirement
  pyproject.toml
  requirements-dev.lock
  requirements.lock
Labels: dependencies

Add Config class for managing application settings
  .env.example
  docker-compose.yaml
  pyproject.toml
  requirements-dev.lock
  requirements.lock
  src/whisper2subtitle/__init__.py
  src/whisper2subtitle/config.py
  src/whisper2subtitle/media_handler.py
  src/whisper2subtitle/voice.py
Labels: dependencies

Update pyproject.toml with new pydantic version requirement
  pyproject.toml
  requirements-dev.lock
  requirements.lock
  src/whisper2subtitle/media_handler.py
  src/whisper2subtitle/voice.py
Labels: dependencies

Update pyproject.toml with new pydantic version requirement and additional dependencies
  .env.example
  pyproject.toml
  requirements-dev.lock
  requirements.lock
  src/whisper2subtitle/config.py
  src/whisper2subtitle/voice.py
Labels: dependencies

Update json.dump in voice.py to include non-ASCII characters
  src/whisper2subtitle/voice.py
Labels: none

Update voice.py to include is_test parameter in VoiceConvertor class
  src/whisper2subtitle/voice.py
Labels: none

Update voice.py to include is_test parameter in VoiceConvertor class
  src/whisper2subtitle/voice.py
Labels: none

Update is_test parameter in VoiceConvertor class and use faster whisper
  src/whisper2subtitle/voice.py
Labels: none

Refactor config.py and voice.py
  src/whisper2subtitle/config.py
  src/whisper2subtitle/voice.py
Labels: none

Refactor config.py and voice.py
  src/whisper2subtitle/voice.py
Labels: none

Refactor Dockerfile and devcontainer configurations
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/devcontainer.json
Labels: none

chore: update pre-commit hooks
  .pre-commit-config.yaml
Labels: none

.github/labeler.yml:

# Feature Branches
enhancement:
  - head-branch:
    - "feat/*"                      # Feature branches
    - "refactor/*"                  # Refactor branches
    - "enhance/*"                   # Enhancement branches
    - "perf/*"                      # Performance improvement branches
  - changed-files:
    - any-glob-to-any-file:
      - "src/**/*"                  # Any file in src, except documentation files
      - "!src/docs/*"

# Bug Fixes
bug:
  - head-branch:
    - "^bug"                        # Branches starting with 'bug'
    - "bug"
    - "fix/*"                       # Fix branches
    - "bugfix/*"                    # Bugfix branches
    - "hotfix/*"                    # Hotfix branches

# Maintenance
chore:
  - head-branch:
    - "chore/*"                     # Chore branches
    - "style/*"                     # Style branches
    - "test/*"                      # Test branches
    - "ci/*"                        # CI branches
    - "cd/*"                        # CD branches
    - "config/*"                    # Configuration branches
  - changed-files:
    - any-glob-to-any-file:
      - ".github/**"                # GitHub Actions and workflows
      - ".pre-commit-config.yaml"   # Pre-commit hooks configuration
      - "pyproject.toml"            # Python project configuration
      - "setup.py"                  # Python setup script
      - "tox.ini"                   # Tox configuration
      - "Makefile"                  # Makefile for build automation

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - "requirements.txt"          # Python dependencies
      - "requirements.lock"         # Rye lock file
      - "requirements-dev.lock"     # Rye dev lock file
      - "poetry.lock"               # Poetry lock file
      - "Pipfile"                   # Pipenv file
      - "Pipfile.lock"              # Pipenv lock file

# Documentation
documentation:
  - head-branch:
    - "docs/*"                      # Documentation branches
    - "doc/*"                       # Documentation branches
    - "readme/*"                    # Readme branches
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.md"                   # Markdown files
      - "docs/**/*"                 # Documentation files
      - "**/*.ipynb"                # All Jupyter Notebook files
      - "notebooks/**/*"
      - "notebook/**/*"

# Pytest Unit Tests
unit-test:
  - changed-files:
    - any-glob-to-any-file:
      - "**/test_*.py"              # Unit test files
      - "tests/**/*"                # Any file in tests directory

revert:
  - head-branch:
    - "revert/*"                    # Revert branches
    - "revert-*"                    # Revert branches
    - "rollback/*"                  # Rollback branches
    - "rollback-*"                  # Rollback branches
